h1 {
    color: beige;
}

body {
    background-color: aqua;
    font: normal 15px Arial;
    text-align: center;
}

section {
    background-color: beige;
    box-shadow: 6px 6px 10px rgb(165, 165, 165);
    border-radius: 12px;

    padding: 16px;
    width: 500px;
    margin: auto;
}